@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-Bold.eot');
  src: local('Mabry Pro Bold'), local('MabryPro-Bold'),
      url('../public/MabryPro/MabryPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-Bold.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-Bold.woff') format('woff'),
      url('../public/MabryPro/MabryPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-Medium.eot');
  src: local('Mabry Pro Medium'), local('MabryPro-Medium'),
      url('../public/MabryPro/MabryPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-Medium.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-Medium.woff') format('woff'),
      url('../public/MabryPro/MabryPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-Black.eot');
  src: local('Mabry Pro Black'), local('MabryPro-Black'),
      url('../public/MabryPro/MabryPro-Black.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-Black.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-Black.woff') format('woff'),
      url('../public/MabryPro/MabryPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-LightItalic.eot');
  src: local('Mabry Pro Light Italic'), local('MabryPro-LightItalic'),
      url('../public/MabryPro/MabryPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-LightItalic.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-LightItalic.woff') format('woff'),
      url('../public/MabryPro/MabryPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-BoldItalic.eot');
  src: local('Mabry Pro Bold Italic'), local('MabryPro-BoldItalic'),
      url('../public/MabryPro/MabryPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-BoldItalic.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-BoldItalic.woff') format('woff'),
      url('../public/MabryPro/MabryPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-Light.eot');
  src: local('Mabry Pro Light'), local('MabryPro-Light'),
      url('../public/MabryPro/MabryPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-Light.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-Light.woff') format('woff'),
      url('../public/MabryPro/MabryPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-BlackItalic.eot');
  src: local('Mabry Pro Black Italic'), local('MabryPro-BlackItalic'),
      url('../public/MabryPro/MabryPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-BlackItalic.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-BlackItalic.woff') format('woff'),
      url('../public/MabryPro/MabryPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-MediumItalic.eot');
  src: local('Mabry Pro Medium Italic'), local('MabryPro-MediumItalic'),
      url('../public/MabryPro/MabryPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-MediumItalic.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-MediumItalic.woff') format('woff'),
      url('../public/MabryPro/MabryPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-Italic.eot');
  src: local('Mabry Pro Italic'), local('MabryPro-Italic'),
      url('../public/MabryPro/MabryPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-Italic.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-Italic.woff') format('woff'),
      url('../public/MabryPro/MabryPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../public/MabryPro/MabryPro-Regular.eot');
  src: local('Mabry Pro'), local('MabryPro-Regular'),
      url('../public/MabryPro/MabryPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/MabryPro/MabryPro-Regular.woff2') format('woff2'),
      url('../public/MabryPro/MabryPro-Regular.woff') format('woff'),
      url('../public/MabryPro/MabryPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --brutal-blue-rgb: 51, 0, 255;
}

@keyframes slideInFromBottom {
  0% {
    //transform: translateY(100%);
    scale: 0;
    opacity: 0;
  }
  100% {
    //transform: translateY(0);
    scale: 1;
    opcaity: 1;
  }
}

#hero, #about, #contact {
  
  animation: 0.75s ease 0s 1 slideInFromBottom;
}

button {
  padding: 8px 16px;
  border: 2px solid black;
  box-shadow: 2px 2px 0px black;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 800;
  transition: .3s filter, transform .3s, box-shadow .3s;
  position: relative;
}

button div {
  transition: .3s filter, transform .3s, box-shadow .3s, .3s background-color;
}

 button:hover .button-bg {
  filter: brightness(95%);
  
}

button .button-bg {
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  top:0;
  transition: .3s filter;
  
}

button span {
  position: relative;
  z-index: 1;
}


button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
  box-shadow: none;
  transform: translate(2px,2px);  
}

button.active {
  box-shadow: none;
  transform: translate(2px,2px);
  /* color: rgb(var(--foreground-rgb)); */
}

button.active div {
  /* background-color: rgb(var(--brutal-blue-rgb)); */
}




/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
